# Entornos virtuales y caché de Python
venv/
__pycache__/
.pytest_cache/

# Reportes y resultados de pruebas
allure-report/
allure-results/
reports/
*.html

# Archivos multimedia temporales y binarios
*.mp3
ffmpeg.exe